Supakulltracker/Supakulltracker/Service References/UserProvider/UserProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Find">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindResult" type="tns:UserForAuthentication" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserForAuthentication">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPinCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Exist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindSoapIn">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="FindSoapOut">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="ExistSoapIn">
    <wsdl:part name="parameters" element="tns:Exist" />
  </wsdl:message>
  <wsdl:message name="ExistSoapOut">
    <wsdl:part name="parameters" element="tns:ExistResponse" />
  </wsdl:message>
  <wsdl:portType name="UserProviderSoap">
    <wsdl:operation name="Find">
      <wsdl:input message="tns:FindSoapIn" />
      <wsdl:output message="tns:FindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Exist">
      <wsdl:input message="tns:ExistSoapIn" />
      <wsdl:output message="tns:ExistSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserProviderSoap" type="tns:UserProviderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exist">
      <soap:operation soapAction="http://tempuri.org/Exist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserProviderSoap12" type="tns:UserProviderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Find">
      <soap12:operation soapAction="http://tempuri.org/Find" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exist">
      <soap12:operation soapAction="http://tempuri.org/Exist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProvider">
    <wsdl:port name="UserProviderSoap" binding="tns:UserProviderSoap">
      <soap:address location="http://localhost:50422/UserProvider.asmx" />
    </wsdl:port>
    <wsdl:port name="UserProviderSoap12" binding="tns:UserProviderSoap12">
      <soap12:address location="http://localhost:50422/UserProvider.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>