Supakulltracker/UnitTestServices/Web References/localhost/GetTrackerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllTasks">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTasksResult" type="tns:ArrayOfTaskMainDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTaskMainDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaskMainDTO" nillable="true" type="tns:TaskMainDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaskMainDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TaskID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubtaskType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Project" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkToTracker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estimation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Assigned" type="tns:ArrayOfUserDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskParent" type="tns:TaskMainDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ForceUpdate">
        <s:complexType />
      </s:element>
      <s:element name="ForceUpdateResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllTasksSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTasks" />
  </wsdl:message>
  <wsdl:message name="GetAllTasksSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ForceUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:ForceUpdate" />
  </wsdl:message>
  <wsdl:message name="ForceUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:ForceUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="GetTrackerServicesSoap">
    <wsdl:operation name="GetAllTasks">
      <wsdl:input message="tns:GetAllTasksSoapIn" />
      <wsdl:output message="tns:GetAllTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForceUpdate">
      <wsdl:input message="tns:ForceUpdateSoapIn" />
      <wsdl:output message="tns:ForceUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetTrackerServicesSoap" type="tns:GetTrackerServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTasks">
      <soap:operation soapAction="http://tempuri.org/GetAllTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceUpdate">
      <soap:operation soapAction="http://tempuri.org/ForceUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetTrackerServicesSoap12" type="tns:GetTrackerServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTasks">
      <soap12:operation soapAction="http://tempuri.org/GetAllTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceUpdate">
      <soap12:operation soapAction="http://tempuri.org/ForceUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetTrackerServices">
    <wsdl:port name="GetTrackerServicesSoap" binding="tns:GetTrackerServicesSoap">
      <soap:address location="http://localhost:50422/GetTrackerServices.asmx" />
    </wsdl:port>
    <wsdl:port name="GetTrackerServicesSoap12" binding="tns:GetTrackerServicesSoap12">
      <soap12:address location="http://localhost:50422/GetTrackerServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>