Supakulltracker/Supakulltracker/Service References/IssueService/GetTrackerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllIssues">
        <s:complexType />
      </s:element>
      <s:element name="GetAllIssuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllIssuesResult" type="tns:ArrayOfProxyTaskMain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProxyTaskMain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProxyTaskMain" nillable="true" type="tns:ProxyTaskMain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProxyTaskMain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TaskID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubtaskType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Project" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkToTracker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estimation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Assigned" type="tns:ArrayOfProxyUsersList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProxyUsersList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProxyUsersList" nillable="true" type="tns:ProxyUsersList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProxyUsersList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskList" type="tns:ArrayOfProxyTaskMain" />
        </s:sequence>
      </s:complexType>
      <s:element name="StoreSources">
        <s:complexType />
      </s:element>
      <s:element name="StoreSourcesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllIssuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllIssues" />
  </wsdl:message>
  <wsdl:message name="GetAllIssuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="StoreSourcesSoapIn">
    <wsdl:part name="parameters" element="tns:StoreSources" />
  </wsdl:message>
  <wsdl:message name="StoreSourcesSoapOut">
    <wsdl:part name="parameters" element="tns:StoreSourcesResponse" />
  </wsdl:message>
  <wsdl:portType name="GetTrackerServicesSoap">
    <wsdl:operation name="GetAllIssues">
      <wsdl:input message="tns:GetAllIssuesSoapIn" />
      <wsdl:output message="tns:GetAllIssuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreSources">
      <wsdl:input message="tns:StoreSourcesSoapIn" />
      <wsdl:output message="tns:StoreSourcesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetTrackerServicesSoap" type="tns:GetTrackerServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllIssues">
      <soap:operation soapAction="http://tempuri.org/GetAllIssues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreSources">
      <soap:operation soapAction="http://tempuri.org/StoreSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetTrackerServicesSoap12" type="tns:GetTrackerServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllIssues">
      <soap12:operation soapAction="http://tempuri.org/GetAllIssues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreSources">
      <soap12:operation soapAction="http://tempuri.org/StoreSources" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetTrackerServices">
    <wsdl:port name="GetTrackerServicesSoap" binding="tns:GetTrackerServicesSoap">
      <soap:address location="http://localhost:50422/GetTrackerServices.asmx" />
    </wsdl:port>
    <wsdl:port name="GetTrackerServicesSoap12" binding="tns:GetTrackerServicesSoap12">
      <soap12:address location="http://localhost:50422/GetTrackerServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>